.bi:hover {
  cursor: pointer !important;
}
.theme-selector-container {
  text-align: center;
}

.theme-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.theme-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected-theme-preview {
  margin-top: 20px;
  text-align: center;
}

.selected-theme-img {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}
